<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"></meta>
<title>Libros</title>
<script type="text/javascript"
	src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.16.0/jquery.validate.js"></script>
<link
	href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css"
	rel="stylesheet" id="bootstrap-css"></link>
<script
	src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>
<body>
	<div th:replace="fragments/header :: header"></div>

	<div class="container">
		<form id="myform">
			<div class="row clearfix">
				<div class="col-md-12 column" >
					<a  style="border-bottom-color: green" th:href="@{/libro/irRegistrar}" id="add-row" type="button"
						class="btn btn-primary btn-md left-block"> <span
						class="glyphicon glyphicon-plus" ></span> Libro
					</a>
					<a  style="border-bottom-color: green" th:href="@{/libro/irBuscar}" id="add-row" type="button"
						class="btn btn-primary btn-md left-block"> <span
						class="glyphicon glyphicon-search" ></span> 
					</a>
					<table class="table table-bordered table-hover table-striped"
						id="tab_logic">
						<thead>
							<tr>
							    <th class="text-center">CODIGO</th>
					            <th class="text-center">NOMBRE</th>
					            <th class="text-center">FECHA DE INGRESO</th>
					            <th class="text-center">NUMERO DE EDICIÓN</th>
					            <th class="text-center">NUMERO DE SERIE</th>
					            <th class="text-center">IDIOMA</th>
					            <th class="text-center">ESTADO</th>
					            <th class="text-center">CÓDIGO ISBN</th>
					            <th class="text-center">OPERACIÓN</th>
								<th class="text-center">OPERACIÓN</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="lib: ${listaLibros}">
					        <td th:text="${lib.idLibro}"></td>
					        <td th:text="${lib.nombreLibro}"></td>
					        <td th:text="${lib.fechaIngresoLibro}"></td>
					        <td th:text="${lib.numEdicionLibro}"></td>
					        <td th:text="${lib.numSerieLibro}"></td>
					        <td th:text="${lib.idiomaLibro}"></td>
					        <td th:text="${lib.estadoLibro}"></td>
					        <td th:text="${lib.isbnLibro}"></td>
							<td><a th:href="@{/libro/eliminar?id=}+${lib.idLibro}">Eliminar</a></td>
							<td><a th:href="@{'/libro/modificar/'+ ${lib.idLibro}}">Modificar</a></td>
							</tr>
						</tbody>

					</table>
					
				</div>
			</div>
			<div th:if="${mensaje}" class="alert alert-danger">
			<p th:text="${mensaje}"></p>
			</div>
		</form>
	</div>

	<div th:replace="fragments/footer :: footer"></div>

</body>
</html>
